:root {
  --white-color: rgba(255, 255, 255, 1);
  --link-color: rgba(117, 117, 117, 1);
  --brand-color: rgba(33, 150, 243, 1);
  --second-brand-color: rgba(0, 0, 0, 1);
  --second-background: rgba(47, 48, 58, 1);
  --second-link-color: rgba(255, 255, 255, 0.6);
  --button-color: rgba(245, 244, 250, 1);
  --border-color: rgba(236, 236, 236, 1);
  --shadow: rgba(47, 48, 58, 0.4);
  --border-grey: rgba(175, 177, 184, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(33, 33, 33, 1);
  background-color: var(--white-color);
}

/* ============================ */
/* ========== UNIVERSAL, HEADER AND FOOTER STYLING */
/* ============================ */

/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/* ==============================================================================*/
/* ================== UNIVERSAL =================================================== */
/* ================================================================================*/

.wrapper-social {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.blue-text {
  color: var(--brand-color);
}

.decoration-none {
  text-decoration: none;
}

.background-block {
  background-color: var(--second-background);
  height: 252px;
}

.list-styling {
  list-style: none;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/* ===============================================================================*/
/* =========================== HEADER ===========================================*/
/* ==============================================================================*/

.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
}

.webstudio-top {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--second-brand-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.icon-color {
  --color2: var(--border-grey);
  --color5: var(--border-grey);
  --color3: var(--border-grey);
  --color4: var(--border-grey);
}

.icon-color:hover {
  --color2: var(--brand-color);
  --color5: var(--brand-color);
  --color3: var(--brand-color);
  --color4: var(--brand-color);
  cursor: pointer;
}

.icon-social {
  --color3: var(--border-grey);
  --color4: var(--border-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  margin: 0 auto;
  border-radius: 50%;
}

.icon-social:hover {
  background-color: var(--brand-color);
  --color3: var(--white-color);
  --color4: var(--white-color);
  cursor: pointer;
}

.nav-position {
  flex-grow: 1;
  justify-self: flex-start;
  padding-left: 93px;
}

.nav-menu {
  display: flex;
  width: 254px;
  justify-content: space-between;
  position: relative;
}

.nav-menu::before {
  content: icon;
}

.navigation-button {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-button-active {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.navigation-button-active::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--brand-color);
  left: 0px;
  top: 46px;
  border-radius: 2px;
}

.nav-contact {
  display: flex;
  gap: 50px;
  padding-left: 0px;
}

.header-address {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.icon-mail {
  position: absolute;
  left: -20.5px;
  top: 1.5px;
}

.icon-tel {
  position: absolute;
  left: -15px;
}

.header-border {
  border: 1px solid var(--border-color);
}

.navigation-button:visited,
.navigation-button-active:visited {
  color: inherit;
}

.navigation-button:hover,
.header-address:hover,
.navigation-button-active:hover,
.navigation-button:focus,
.navigation-button-active:focus,
.header-address:focus,
.header-address:hover .icon-color,
.header-address:focus .icon-color {
  color: var(--brand-color);
  outline: none;
  --color2: var(--brand-color);
  --color5: var(--brand-color);
}

/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*===========================================================================*/
/* ============================== FOOTER =====================================*/
/* ==========================================================================*/

.webstudio-bottom {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.webstudio-bottom-position {
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}

.footer-address {
  color: var(--white-color);
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.footer-address-position {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-styling {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-link-color);
}

.footer-wrapper {
  display: flex;
}

.footer-social {
  padding-top: 72px;
  padding-left: 70px;
}

.footer-social-header {
  margin: 0;
  padding-bottom: 20px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  margin: 0 auto;
  border-radius: 50%;
  --color3: var(--border-grey);
  --color4: var(--border-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-social-footer:hover {
  background-color: var(--brand-color);
  --color3: var(--white-color);
  --color4: var(--white-color);
  cursor: pointer;
}

/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/* ====================================================================*/
/* ========== INDEX.HTML PAGE ==========================================*/
/* =============================================================== */

.backdrop {
  display: flex;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: alias;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  z-index: -1;
}

.modal {
  flex-direction: column;
  padding: 8px;
  margin: auto;
  cursor: default;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  position: relative;
}

.modal-button {
  position: absolute;
  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
}

.central-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.main-header-background {
  background-image: url(../images/main-header-background.jpg);
  background-size: cover;
}

.shadow {
  background-image: linear-gradient(to bottom, var(--shadow), var(--shadow));
}

.main-text-position {
  height: 120px;
  width: 700px;
  flex-wrap: wrap;
}

.central-text-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 200px;
}

.main-page-button {
  background-color: var(--brand-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-page-button:hover,
.main-page-button:focus {
  cursor: pointer;
}

.main-button-position {
  padding-top: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 0;
}

.lorem-section {
  display: flex;
  gap: 30px;
  padding: 0px;
  margin-top: 94px;
}

.lorem-object {
  display: flex;
  justify-content: center;
  background-color: var(--button-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.lorem-topic {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.main-page-middle {
  display: flex;
  gap: 2.5%;
  padding: 0;
}

.main-image-position {
  position: relative;
}

.image-description {
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  bottom: 4px;
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.main-page-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}

.main-page-team {
  display: flex;
  padding: 0;
  gap: 2.5%;
}

.main-page-customers {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-page-customers li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-page-text-header-color);
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.box-styling-main {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin: 0;
  height: 428px;
  background-color: var(--white-color);
}

.box-styling-main-bottom {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
}

.box-styling-main-bottom:hover {
  border-color: var(--brand-color);
}

.main-bottom-section {
  background-color: var(--button-color);
}
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/*=*/
/* =========================================================== */
/* ========== PORTFOLIO.HTML PAGE ========================== */
/* ========================================================= */

.portfolio-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
}

.portfolio-button-position {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
}

.portfolio-image-position {
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.portfolio-image-position li {
  padding-bottom: 30px;
}

.box-hover-text-portfolio {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 24px;
  color: var(--white-color);
}

.box-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms;
  overflow: hidden;
}

.box-picture {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.box-styling-portfolio {
  margin: 0;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  height: 404px;
  width: 370px;
}

.box-styling-portfolio:hover,
.box-styling-portfolio:hover .box-overlay {
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.text-styling-portfolio {
  display: flex;
  flex-direction: column;
  width: 322px;
  height: 110px;
  margin: 0 auto;
  padding-block: 20px;
}

.portfolio-image-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  justify-items: center;
  padding-bottom: 4px;
}

.portfolio-image-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin: 0;
}
